.main {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.container-fluid {
    max-width: 1300px;
}
.col--numb span {
    display: block;
    white-space: nowrap;
}
.table th, .table td {
    vertical-align: middle !important;
}